#container {
  text-align: center;
}
#container > div {
  min-width: 8%; /* Declare your value. Can be in relative units. */
  display: inline-block;
  vertical-align: top;
  text-align: center;

  /* IE fix. */
  *display: inline;
  zoom: 1;
}
#container:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.task-header {
  font-weight: bold;
  font-size: 14pt;
}

.orden, .contraste, .ejemplo,
.explicacion, .causa, .efecto,
.condicion, .finalidad, .comparacion,
.conclusion,
.idea {
  width: 20%;
  padding: 3px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  min-height: 150px;
}
