#container {
  text-align: center;
}
#container > div {
  width: 100px; /* Declare your value. Can be in relative units. */
  display: inline-block;
  vertical-align: top;

  /* IE fix. */
  *display: inline;
  zoom: 1;
}
#container:after {
  content: "";
  width: 100%;
  display: inline-block;
}
